* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

table {
    border: 1px solid #1c1c1c;
    margin: 0 20px;
}

td, th {
    height: 40px;
    background-color: #1c1c1c;
    color: rgb(250, 118, 2);
}